<%- include header %>

<div class="container well well-lg" style="margin-top: 80px;">

    <h1><%- title || "" %></h1>

    <h2><%- summary || "" %></h2>
    <p><%- content || ""%></p>

</div>


<%- include footer %>